In [1]:
%autosave 30

Autosaving every 30 seconds

In [11]:
import numpy as np
import pandas as pd
import plotly.express as px

df = pd.read_csv("resources/dataset/vehicles.csv")
df = df.drop(columns=["url","region_url","image_url"])

#dfByYear=df[df["year"]>2015.0]
#dfByYear.to_csv("resources/dataset/filteredByYear.csv", index=False)

dfByYear=pd.read_csv("resources/dataset/filteredByYear.csv")
#dfByYear

In [10]:
dfByMan=dfByYear[dfByYear["manufacturer"]=="ford"]
dfByMan

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,...,vin,drive,size,type,paint_color,description,county,state,lat,long
3,7184208717,duluth / superior,25730,2017.0,ford,explorer,excellent,6 cylinders,gas,49858.0,...,NaN,4wd,full-size,SUV,black,This is the 2017 Ford Explorer Sport. It is a ...,NaN,mn,45.0645,-93.3413
5,7184047617,duluth / superior,0,2016.0,ford,f450 4x4,NaN,NaN,diesel,0.0,...,NaN,NaN,NaN,other,white,"All Trucks USA12106 Old River RdRockton, IL 61...",NaN,mn,NaN,NaN
11,7183544472,duluth / superior,41950,2016.0,ford,f-150 king ranch 4x4,NaN,NaN,gas,29288.0,...,1FTFW1EF6GFB72861,NaN,NaN,NaN,NaN,2016 Ford F-150 King Ranch 4x4 âœ” We TAKE TRAD...,NaN,mn,44.8346,-91.5159
15,7187966000,fargo / moorhead,35000,2018.0,ford,super duty f-250,NaN,8 cylinders,gas,75967.0,...,1FT7W2B6XJEC63420,4wd,NaN,truck,white,"2018 Ford Super Duty F-250 XLT -- $35,000 ...",NaN,mn,46.5902,-95.5747
24,7195035516,albuquerque,13995,2016.0,ford,fusion,good,4 cylinders,gas,74408.0,...,3FA6P0HD3GR172858,fwd,NaN,sedan,silver,"2016 Ford Fusion SE - $13,995 2016 - Ford - F...",NaN,nm,34.8519,-106.6910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92790,7192423574,lubbock,34998,2017.0,ford,f250 xlt fx4,NaN,NaN,gas,113419.0,...,NaN,NaN,NaN,NaN,NaN,www.TEXASDIESELSTORE.com CALL OR TEXT TODAY @...,NaN,tx,31.0710,-97.3898
92792,7187081131,duluth / superior,12400,2017.0,ford,focus hatchback sel,good,4 cylinders,gas,49133.0,...,NaN,fwd,compact,NaN,grey,"2017 Ford Focus with hatchback and moonroof, g...",NaN,mn,46.8309,-92.0377
92793,7186805062,duluth / superior,19998,2019.0,ford,escape,like new,4 cylinders,gas,2760.0,...,NaN,fwd,compact,SUV,grey,Why pay thousands more for a new car? This bea...,NaN,mn,47.2348,-93.5115
92794,7192133625,lubbock,35000,2018.0,ford,f-150,like new,6 cylinders,gas,44500.0,...,1FTEW1CB8JKE17556,rwd,NaN,pickup,custom,2018 Ford Truck F150 Crew Cab Pickup 4X2 Super...,NaN,tx,33.5336,-101.9400
92796,7185905296,duluth / superior,25871,2017.0,ford,explorer,excellent,6 cylinders,gas,42520.0,...,NaN,4wd,full-size,SUV,red,"This is the 2017 Ford Explorer Sport, with For...",NaN,mn,45.0645,-93.3413

In [ ]:
print(dfByYear[dfByYear["paint_color"]=="black"].sum())