In [1]:
%autosave 30

Autosaving every 30 seconds

In [2]:
import numpy as np
import pandas as pd
import plotly.express as px

df = pd.read_csv("resources/dataset/vehicles.csv")

df = df.drop(columns=["url","region_url","image_url"])
df

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,...,vin,drive,size,type,paint_color,description,county,state,lat,long
0,7184791621,duluth / superior,6995,2000.0,gmc,new sierra 1500,excellent,8 cylinders,gas,167783.0,...,1GTEK19T3YE366021,4wd,NaN,NaN,red,2000 *** GMC New Sierra 1500 Ext Cab 157.5 WB...,NaN,mn,46.8433,-92.2550
1,7184773187,duluth / superior,8750,2013.0,hyundai,sonata,excellent,4 cylinders,gas,90821.0,...,NaN,fwd,NaN,NaN,grey,For Sale: 2013 Hyundai Sonata GLS - $8750. O...,NaN,mn,46.9074,-92.4638
2,7193375964,new haven,10900,2013.0,toyota,prius,good,4 cylinders,hybrid,92800.0,...,NaN,fwd,NaN,NaN,blue,2013 Prius V Model Two. One ownerâ€”must sell my...,NaN,ct,41.1770,-73.1336
3,7195108810,albuquerque,12500,2003.0,mitsubishi,lancer,good,4 cylinders,gas,NaN,...,NaN,4wd,mid-size,sedan,grey,"2003 Mitsubishi Lancer Evolution, silver. Abo...",NaN,nm,35.1868,-106.6650
4,7184712241,duluth / superior,16995,2007.0,gmc,sierra classic 2500hd,good,8 cylinders,diesel,254217.0,...,1GTHK23D57F102022,4wd,full-size,truck,white,"**Bad Credit, No Credit... No Problem!**2007 G...",NaN,mn,45.6836,-92.9648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423852,7184919761,duluth / superior,1600,2006.0,hyundai,sonata,fair,6 cylinders,gas,159980.0,...,NaN,fwd,NaN,sedan,blue,Motor runs and drives good. Transmission shift...,NaN,mn,46.8348,-92.0742
423853,7184844576,duluth / superior,9000,2003.0,toyota,sequoia limited,excellent,8 cylinders,gas,160000.0,...,NaN,4wd,full-size,SUV,green,"2 owner 0 rust not from here... Leather ,roof ...",NaN,mn,46.9369,-91.9325
423854,7184805809,duluth / superior,700,1994.0,ford,f-150,fair,6 cylinders,gas,212000.0,...,NaN,rwd,NaN,NaN,green,I'm selling this beautiful old pickup that I j...,NaN,mn,46.7715,-92.1279
423855,7184791927,duluth / superior,3800,1999.0,lincoln,town car,excellent,8 cylinders,gas,160000.0,...,1LNHM82WXXY626430,rwd,NaN,sedan,NaN,1999 *** Lincoln Town Car 4dr Sdn Signature Se...,NaN,mn,46.8433,-92.2550
423856,7195109037,albuquerque,8650,2015.0,nissan,versa,NaN,NaN,gas,160526.0,...,3N1CN7AP4FL819739,fwd,compact,sedan,silver,2015 Nissan Versa S Offered by: Southwest ...,NaN,nm,35.1851,-106.5850

In [3]:
# All columns in the dataset
allColumns=set(df)
print(f"All columns of dataset: {allColumns}\n")

# All type of data in condition column
v=list(set(df["condition"]))
all=df["condition"]
print("All possible values for condition variable")
for i in range(len(v)):
    print(f"v[{i}] = {v[i]}")

# How many nan values are there in the condition column
totalNanValues=all.isna().sum()
print(f"\nNumber of nan values {totalNanValues}\n")

# Absolute empirical frequency of the condition column
e=[]
print("Absolute empirical frequency of the condition variable")
for i in range(len(v)):
    if (isinstance(v[i], float) and np.isnan(float(v[i]))):
        e.append(totalNanValues)
    else:
        e.append(np.sum(all==v[i]))
    print(f"e[{i}] = {e[i]}")
    
print("\nRelative empirical frequency of the conditional variable")
m=len(all)
for i in range(len(v)):
    print(f"{v[i]} = "+ str(e[i]/m))

All columns of dataset: {'transmission', 'paint_color', 'state', 'year', 'description', 'drive', 'cylinders', 'manufacturer', 'condition', 'vin', 'fuel', 'region', 'type', 'lat', 'id', 'odometer', 'long', 'size', 'price', 'title_status', 'county', 'model'}

All possible values for condition variable
v[0] = nan
v[1] = new
v[2] = like new
v[3] = good
v[4] = salvage
v[5] = fair
v[6] = excellent

Number of nan values 247138

Absolute empirical frequency of the condition variable
e[0] = 247138
e[1] = 1069
e[2] = 17880
e[3] = 65262
e[4] = 530
e[5] = 6724
e[6] = 85254

Relative empirical frequency of the conditional variable
nan = 0.583069289878426
new = 0.0025220770212595286
like new = 0.04218403848467762
good = 0.1539717404690733
salvage = 0.0012504217224205334
fair = 0.015863840870859746
excellent = 0.2011385915532833